
<div class="page">
    <blockquote>
      <p>What are you up to?</p>
      <footer>Coach's answer <cite title="Source Title">Source Title</cite></footer>
    </blockquote>

    <div class="form-group">
      <form action="/answer" method="get" class="form-inline">
        <div class="form-group ask">
          <input type="text" name="query" placeholder="What are you up to?">
        </div>
        <br>
        <br>
        <div class="form-group button">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
      </form>
    </div>
</div>
